body {
    background-color: $bodyBgColor;
    color: $mainFontColor;
    font-family: $mainFont;
    overflow-x: hidden;
}

.menuOpen {
    main {
        margin: 0 0 0 290px;
    }
}
    main {
    padding: 0 0 0 290px;

    @media (max-width: $showResponsiveNavigation) {
        padding: 0;
    }
    transition: 500ms;
    }
a {
    text-decoration: none;
    transition: 300ms;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.globalHeader {
    @include fluid-type-container (26px, 36px);
    color: $mainHeaderColor;
    margin: 0 0 60px 0;
    position: relative;

    @include forTablet {
        margin: 0 0 40px 0;
    }

    &::after {
        content: '';
        width: 37px;
        height: 37px;
        display: block;
        background-image:  url(../img/dots-bg.svg);
        position: absolute;
        top: -10px;
        left: -10px;
    }
}
.btn {
    display: block;
    width: 130px;
    height: 40px;
    background-color: $btnBgColor;
    color: $btnTextColor;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    position: relative;
    z-index: 2;

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
        }
}