// ***********************************
// GLOBAL
// ***********************************

$bodyBgColor: #F9F9FF;
$mainFontColor: #5e5c7f;
$mainFont: 'Rubik', sans-serif;
$showResponsiveNavigation: 1200px;

// ***********************************
// HEADER   
// ***********************************

$mainHeaderColor: #454360;

// ***********************************
// NAVIGATION
// ***********************************

$menuBgColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 0.1);
$iconColor: #ffd15c;
$navFontColor: #fff;
$navFontHoverColor: #ffd15c;
$navCopyrightColor: #9c9ac3;

// ***********************************
// HOME
// ***********************************

$homeBgColor: #353353;
$homeFontColor: #fff;
$homeTextHoverColor: #ffd15c;

// ***********************************
// ABOUT ME
// ***********************************

$aboutCloudBg: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #ff4c60;
$progressBarBlue: #6c6ce5;

// ***********************************
// BUTTONS
// ***********************************

$btnBgColor: #ff4c60;
$btnTextColor: #fff;

// ***********************************
// SERVICES 
// ***********************************

$serviceOneBgColor: #6c6ce5;
$serviceTwoBgColor: #f9d74c;
$serviceThreeBgColor: #f97b8b;
$OddServiceFontColor: #fff;
$SecondServiceFontColor: #5e5c7f;

// ***********************************
// EXPERIENCE
// ***********************************

$tableBgColor: #fff;
$timeFontColor: #8B88B1;
$iconFontColor: #FF4C60;

// ***********************************
// RECENT
// ***********************************

$tileTitleColor: #fff;
$tileCategoryBgColor: #FF4C60;
$tileCategoryFontColor: #fff;
$moreButtonBgColor: #FFD15C;