.aboutMe {
    padding: 80px 0;
    @include forTablet {
        padding: 40px 0;
    }

    .aboutBox {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;

        .photo {
            width: 25%;
            padding: 0 15px;

            @include forTablet {
                width: 100%;
                text-align: center;
                margin: 0 0 40px 0;
            }
        }
        .cloud {
            padding: 0 15px;
            width: 75%;

            @include forTablet {
                width: 100%;
            }

            .bg {
                padding: 30px 15px;
                background-color: $aboutCloudBg;
                border-radius: 20px;
                box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
                position: relative;
                display: flex;
                flex-wrap: wrap;

                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #ffffff transparent transparent;
                    position: absolute;
                    left: -15px;
                    top: 20%;

                    @include forTablet {
                        left: 50%;
                        top: -17px;
                        transform: rotate(90deg);
                    }
                    
                }
                

                .desc {
                    width: 50%;
                    padding: 0 15px;

                    p {
                        margin: 0 0 15px 0;
                        line-height: 1.7;
                        text-align: justify;
                    }

                    .btnAbout {
                        width: 170px;
                        text-align: center;

                        @include forMobile {
                            margin: 30px auto;
                        }
                        
                        span {
                            
                            padding: 10px 0;
                        }
                    }

                    @include forMobile {
                        width: 100%;
                    }
                }
                
                .skills {
                    width: 50%;
                    padding: 0 15px;

                    @include forMobile {
                        width: 100%;
                    }

                    .skillName {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 20px 0;

                        .name {
                            font-weight: 700;
                        }
                        .percent {
                            font-size: 14px;
                        }
                        
                    }
                    .progress {
                        height: 7px;
                        border-radius: 15px;
                        background-color: $progressBgColor;
                        margin: 0 0 15px 0;
                        
                        .bar {
                            display: block;
                            height: 7px;
                            border-radius: 15px;

                            &.yellow {
                                background-color: $progressBarYellow;
                            }
                            &.red{
                                background-color: $progressBarRed;
                            }
                            &.blue {
                                background-color: $progressBarBlue;
                            }
                        }
                    }
                }
            }
        }

        .numbers {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            margin: 40px 15px 0 15px;

            .data {
                width: 25%;
                margin: 0 15px;
                position: relative;

                @include forMobile {
                    width: 40%;
                }

                &:last-child{
                    margin: 0 15px;
                }

                .number {
                    font-size: 28px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-color: #fff;
                    position: absolute;
                    top: 25px;
                    left: -30px;
                }
                .fa-brands {
                    position: absolute;
                    top: 25px;
                    left: -30px;
                    font-size: 24px;
                    opacity: 0.5;
                }

                
            }
            @include forMobile {
                flex-wrap: wrap;
            }
    
        }
    }
}

